<html>
	<head>
		<title>

			{% if title=="About" %}
			About Page | OneMonth.com
			{% elif title=="Contact" %}
			Contact Page
			{% else %}
			OneMonth.com
			{% endif %}


		</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	</head>
	<body>
		<a href="/">Homepage</a>
		<a href="/about">About Me</a>
		<a href="/contact">Contact</a>
